[Unit]
Description = Zen CloudFlare Dynamic DNS updater service
After = multi-user.target
[Service]
Type = simple
User = zen-cf-ddns
ExecStart = /usr/lib/zen-cf-ddns/bin/python /usr/bin/zen-cf-ddns.py
Restart = always
WorkingDirectory = /usr/bin/
[Install]
WantedBy = multi-user.target