[Unit]
Description = Zen CloudFlare Dynamic DNS updater service
After = multi-user.target
[Service]
Type = simple
ExecStart = /usr/bin/python3 /usr/bin/zen-cf-ddns/zen-cf-ddns.py
Restart = always
WorkingDirectory = /usr/bin/zen-cf-ddns/
[Install]
WantedBy = multi-user.target